.custom-component-chart {
  overflow: visible !important;
  padding-top: 30px;
  position: relative;
}

.custom-component-chart .date-range-pickers {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.custom-component-chart .react-datepicker__input-container > input {
  text-align: center;
}

.custom-component-chart .date-range-pickers__to-label {
  margin-left: 1rem;
  margin-right: 1rem;
}

.custom-component-chart .date-range-pickers__from-label {
  margin-right: 1rem;
}
