.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}

.col {
  flex: 1;
  max-width: 32%;
  min-width: 32%;

  > a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    max-height: 200px;
    padding: 10px;
    width: auto;
  }

  p {
    min-height: 20px;
    text-align: center;
    width: 100%;
  }

  @media (max-width: 768px) {
    max-width: 50%;
    min-width: 50%;
  }
  @media (max-width: 468px) {
    max-width: 100%;
    min-width: 100%;
  }
}

img {
  max-width: 100%;
}
